@import "tailwindcss";

@font-face {
  font-family: 'raleway';
  src: url('assets/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'inter';
  src: url('assets/Inter_18pt-Regular.ttf');
}

@font-face{
  font-family: 'archivo';
  src:url('assets/ArchivoBlack-Regular.ttf')
}

@font-face{
  font-family: 'montserrat';
  src:url('assets/Montserrat-VariableFont_wght.ttf')
}

@keyframes moveDot {
  0%{
    left:0;
    top:-1;
  }
  25%{
    right:0;
    top:-1;
  }
  50%{
    right:0;
    bottom:-1;
  }
  75%{
    left:0;
    bottom:-1;
  }
}

body{
  font-family: raleway;
  min-height: 100vh;
  padding-bottom:50px;
  background-color: black;
  color:white;
}
.raleway{
  font-family: raleway;
}
.montserrat{
    font-family: montserrat;
}
.heading{
  font-family:archivo;
}

.move-dot{
  animation-name: moveDot;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
